<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    <link rel="stylesheet" href="{{ url_for('serve_css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{% if filename %}
    <p>File uploaded: <a href="{{ url_for('download_file', filename=filename) }}">{{ filename }}</a></p>
{% endif %}
<form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
</form>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>